<div ng-include="'views/common/site-header.view.client.html'">

</div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a href="#!home">Home</a>
                <span>Profile</span>
            </div>
            <div class="content">
                <!--<h1> Profile Page </h1>-->
                <div class="profile-header ">
                    <div class="">
                        <h1>User name </h1>
                    </div>
                </div>
                <div class="profile-content row">
                    <!--<h2>Profile page</h2>-->
                    <div class="col-sm-8">
                        <div class="profile-section row">
                            <h1 class="profile-section-header">Your Watch list</h1>
                           <div class="row image-list">
                                <div class="col-xs-4"><img src="" alt="image 1"></div>
                                <div class="col-xs-4"><img src="" alt="image 1"></div>
                                <div class="col-xs-4"><img src="" alt="image 1"></div>
                           </div>
                            <div class="see-more">
                                <h5><span><a>See all >></a></span></h5>
                            </div>

                        </div>
                        <div class="profile-section">
                            <h1 class="profile-section-header">Your Reviews</h1>
                            <p>Loved or hated a movie or TV show? Write a review and share it with others!</p>
                        </div>
                        <div class="profile-section">
                            <h1 class="profile-section-header">Your Something extra</h1>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden-xs">
                            <div class="side-bar">
                                <div class="profile-section side-bar-section">
                                    <h1 class="profile-section-header">Quick Links</h1>
                                    <ul>
                                        <li><span><a>Your account</a></span></li>
                                        <li><span><a>Your account</a></span></li>
                                        <li><span><a>Your account</a></span></li>
                                        <li><span><a>Your account</a></span></li>

                                    </ul>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>