<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <div class="go-back"><a go-back>Go Back</a></div>
                <ol class="breadcrumb">
                    <li> <a href="#!/home">Home</a></li>
                    <li><a href="#!/profile">Profile</a></li>
                    <li class="active">Your Reviews</li>
                </ol>
            </div>
            <div class="content">
                <!--<h1> Profile Page </h1>-->
                <div ng-include="'views/common/templates/profile-header.view.client.html'">

                </div>
                <div class="profile-content row">
                    <!--<h2>Profile page</h2>-->
                    <div class="col-sm-8">
                        <div class="profile-section row">
                            <h1 class="profile-section-header">Your Reviews</h1>

                            <div ng-show="model.userreviews" ng-repeat="review in model.userreviews" class="subsection">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h3>{{review.movieName}}</h3></div>
                                    <div class="panel-body">
                                        <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" ng-model="rating" ng-style="{'width':{{review.rating}}*(100/5)}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        </div>
                                        <div style="align-content: center">{{review.text}}</div>
                                        <div style="align-content: center">Posted On: {{review.posted | date:'fullDate'}}</div>
                                    </div>
                                </div>
                            </div>

                            <div ng-hide="model.userreviews">
                                <h1 style="text-align: center" > Your have not posted any review</h1>
                                <div style="align-content: center"><span class=""></span></div>
                                <h3 style="text-align: center"> Share your opinion</h3>
                            </div>
                        </div>
                    </div>
                    <div ng-include="'views/common/templates/profile-sidebar.view.client.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>