<hr/>
<div class="content">
    <form>
        <span>Sort By:</span>
        <br/>
        <select ng-model="model.attribute" name="attr" style="width: 150px !important;">
            <option ng-selected="model.attribute == ''" value=''>Please Select</option>
            <option ng-selected="model.attribute == 'popularity'" value='popularity'>Popularity</option>
            <option ng-selected="model.attribute == 'release_date'" value='release_date'>Recently Released</option>
            <option ng-selected="model.attribute == 'revenue'" value='revenue'>Revenue</option>
            <option value="vote_average">Average Rating</option>
        </select>
        <br/>
        <br/>
        <span>Order By:</span>
        <br/>
        <select ng-model="model.order" name="sort" style="width: 150px !important;">
            <option value="" selected="selected">Please Select</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button style="margin-top: 10px" class="btn btn-info btn-block" ng-click="model.search(model.attribute,model.order)">
            Search
        </button>
    </form>
</div>
<!--<div class="container-fluid">
    <div class="dropdown pull-right">
        <span>Sort By</span>
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
        </ul>
    </div>
</div>-->

<hr/>

<div class="row">
    <div class="col-sm-2 hidden-xs"></div>
    <div class="col-sm-5 col-xs-5" style="color: #b92c28;font-size: 20px;">
        Title and Release Year
    </div>
    <div class="col-sm-3 col-xs-4" style="color: #b92c28;font-size: 20px;">
        TMDB Rating
    </div>
    <div class="col-sm-2 col-xs-3" style="color: #b92c28;font-size: 20px;">
        Watch
    </div>
</div>


<div ng-repeat="movie in model.movies" class="row">
    <hr/>
    <div class="col-sm-2 hidden-xs">
        <!--<span style="display:inline"> {{$index+1 + model.pagenumber}} .</span>-->
        <img ng-src={{movie.poster_path}} height="100" alt="No Image Found">
    </div>
    <div class="col-sm-5 col-xs-5">
        <h3><a href="#!/movie/{{movie.id}}">{{movie.title}}</a>
            <span>({{movie.release_date}})</span>
        </h3>
        <p>
        {{movie.overview}}
        </p>
    </div>
    <div class="col-sm-3 col-xs-4">
            <span>
                <h3>{{movie.vote_average}}
                    <span class="fa fa-star" style="padding-left:5px;"></span>
                    ({{movie.vote_count}} votes)</h3>
            </span>
        <!--<div class="star-ratings-css">-->
            <!--<div class="star-ratings-css-top" ng-style="{'width':{{movie.vote_average}}*(100/5)}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>-->
            <!--<div class="star-ratings-css-bottom">-->
                <!--<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="col-sm-2 col-xs-3">
        <span class="fa fa-bookmark"></span>
    </div>

        <!--<p>-->
            <!--{{movie.overview}}-->
        <!--</p>-->

        <!--<strong>Directors:</strong>-->
        <!--<span ng-repeat="director in model.directors">-->
                    <!--{{director}}<span ng-show=" ! $last ">,</span>-->
                    <!--</span>-->

        <!--<p>-->
            <!--<strong>Actors:</strong>-->
            <!--<span ng-repeat="actor in model.actors">-->
                    <!--{{actor.name}}<span ng-show=" ! $last ">,</span>-->
                    <!--</span>-->
        <!--</p>-->
</div>
<!--<div class="table-responsive">-->
<!--<table class="table">-->
<!--<thead>-->
<!--<h2>Most Popular {{model.genre}} Feature Films</h2>-->
<!--</thead>-->
<!--<tbody class="col-md-12">-->
<!--<tr class="active" ng-repeat="movie in model.movies">-->
<!--<td>  {{$index+1 + model.pagenumber}} .</td>-->
<!--<td class="hidden-sm hidden-xs" width="20%">-->
<!--<img src="{{movie.poster_path}}"-->
<!--alt="http://i.amz.mshcdn.com/EcodAVAlQrEOPy8QfgBFO-vZP0M=/fit-in/850x850/http%3A%2F%2Fmashable.com%2Fwp-content%2Fgallery%2Fentertaining-404-error-pages%2Fchrisjennings.jpg">-->
<!--</td>-->
<!--<td>-->
<!--<h1><a href="">{{movie.title}}</a>-->
<!--<span>({{movie.release_date}})</span>-->
<!--</h1>-->

<!--<span style="display: inline-table">-->
<!--{{movie.vote_average}}-->
<!--<span class="fa fa-star"></span>-->
<!--({{movie.vote_count}} votes)-->
<!--</span>-->

<!--<p>-->
<!--{{movie.overview}}-->
<!--</p>-->

<!--<strong>Directors:</strong>-->
<!--<span ng-repeat="director in model.directors">-->
<!--{{director}}<span ng-show=" ! $last ">,</span>-->
<!--</span>-->

<!--<p>-->
<!--<strong>Actors:</strong>-->
<!--<span ng-repeat="actor in model.actors">-->
<!--{{actor.name}}<span ng-show=" ! $last ">,</span>-->
<!--</span>-->
<!--</p>-->

<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<ul class="pagination pagination-lg">
    <li><a href="" ng-click="model.pagination(1)">1</a></li>
    <li><a href="" ng-click="model.pagination(2)">2</a></li>
    <li><a href="" ng-click="model.pagination(3)">3</a></li>
    <li><a href="" ng-click="model.pagination(4)">4</a></li>
    <li><a href="" ng-click="model.pagination(5)">5</a></li>
</ul>