@media screen and (max-width: 768px) {
    h1{
        font-size:22px !important;
    }
}

html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-image: url('../images/background.jpg');
}
ul{
    list-style: none;
}
a {
    text-decoration: none ;
    cursor: pointer;
}
a:hover{
    text-decoration:none;
}
b,
strong {
    font-weight: bold; }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0; }

h3 {
    font-size: 1.17em;
    margin: 1em 0; }

h4 {
    font-size: 1em;
    margin: 1.33em 0; }

h5 {
    font-size: 0.83em;
    margin: 1.67em 0; }

h6 {
    font-size: 0.75em;
    margin: 2.33em 0; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 20px;
    color: slategrey;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.block-display{
    background-color: #f5f5f5;
}

.page figure {
    margin-bottom: 0px; }
.page img {
    max-width: 100%;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .page img {
        max-width: 100%;
        margin-bottom: 5px!important;
    }
}


.page .movie-title {
    font-size: 36px;
    font-size: 2.4em;
    font-weight: 300; }
.title-design {
    color: #ffaa3c;
    font-size: 30px;
    font-size: 2em;
    margin: 0; }
.section-title{
    color: #d0142c; !important;
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
}
.star-rating>span>img{
    margin-bottom: 5px !important;
}
.list-title{
    color: #d0142c; !important;
    font-size: 30px;
    font-size: 2em;
    margin-bottom: 5px !important;
    font-weight: 300 !important;
}
.container {
    margin-left: 15px;
    margin-right: 15px;
}
.brand{
    margin-left:10px;
}
.site-header {
    padding: 40px 0;
}
.site-navbar {
    margin-left: 40px;
}
.navbar{
    border-radius: 15px;
    font-size: 14px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
@media (min-width: 768px) {
    .container {
        width: 750px; } }
@media (min-width: 992px) {
    .container {
        width: 970px; } }
@media (min-width: 1200px) {
    .container {
        width: 1170px; } }


/*.mobile-navigation {*/
    /*clear: both;*/
    /*padding-top: 20px;*/
    /*display: none; }*/
/*@media screen and (min-width: 991px) {*/
    /*.mobile-navigation {*/
        /*display: none !important; } }*/
/*.mobile-navigation .menu {*/
    /*padding: 10px 20px;*/
    /*background-color: white;*/
    /*border-radius: 3px;*/
    /*list-style: none; }*/
/*.mobile-navigation .menu li {*/
    /*border-bottom: 1px solid #eeeeef; }*/
/*.mobile-navigation .menu li:last-child {*/
    /*border-bottom: none; }*/
/*.mobile-navigation .menu a {*/
    /*color: #84878d;*/
    /*padding: 10px;*/
    /*display: block; }*/
/*.mobile-navigation .menu a:hover {*/
    /*color: #ffaa3c; }*/

.main-body .container {
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.navbar-nav>li {
    margin-bottom:0px;
}


.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: bolder;
    cursor: pointer;
}




.dropdown-menu li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 2;
    color: #777;
    white-space: nowrap;
}

.dropdown-menu li>a:hover, .dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;

}

.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
    padding-left: 0px !important;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #777;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
/* search box */

#search-input{
    width: 0px;
    display: none;
}
.search-input-open{
    width: 150px; !important;
    display: initial !important;
}

.navbar-nav li>a:hover{
    background-color:  #e7e7e7 !important;
}
/*.form-search-input{*/
    /*width: 0px;*/

/*}*/
hr {
    border: none;
    border-bottom: 1px solid #777;
}

ul, ol {
    margin: 0;
    padding-left: 0; }

#genrelist {
    display: inline;
    list-style: none;
}
#genrelist li {
    display: inline;
}
#genrelist li + li:before {
    content: ", ";
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.margin-top{
    margin-top:10px;
}
.modal-header, h4{
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.close {
    color: black;
    text-align: center;
    font-size: 30px;
}
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}
.profile-section {
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 12px;
    width: auto;
    background-color: #FFFFFF;
}
.profile-section:after {
    content: '.';
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}
.side-bar-section{
    background: #F3EEAF;
}

.profile-section-header{

    color: #d0142c;
    font-size: 17.5px;
    margin: 0 0 0.5em;
    padding: 0;

}
.profile-section .see-more {
    border-top: 1px dotted #CCCCCC;
    clear: both;
    display: block;
    font-size: 100%;
    margin: 5px 0 0;
    padding: 5px 0 0;
    text-align: left;
    color: #999;
}

.see-more h5{
    margin-bottom: 0px;
}

/*For star rating */







