<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>

<style>



</style>

<!--<div ng-include="'views/common/loginbody.view.client.html'"></div>-->

<div class="main-body">
    <div class="container">
        <div class="page">
            <div class="row">

                <!--Main display -->
                <div id="main-page-content"class="col-md-9" >
                    <div id="homeSlider" class="carousel slide" data-interval="5000">
                        <ol class="carousel-indicators">
                            <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
                            <li data-target="#homeSlider" data-slide-to="1"></li>
                            <li data-target="#homeSlider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../../images/backgroundImg/darth_vader.jpg" alt="slide1" class="img-responsive">
                            </div>
                            <div class="item ">
                                <img src="../../../images/backgroundImg/guardians_of_the_galaxy_vol_2.jpg" alt="slide2" class="img-responsive">
                            </div>
                            <div class="item ">
                                <img src="../../../images/backgroundImg/minions_2015.jpg" alt="slide3" class="img-responsive">
                            </div>
                        </div>

                        <a class="carousel-control left" href="#homeSlider"  data-slide="prev" target="_self">
                            <span class="icon-prev"></span>
                        </a>

                        <a class="carousel-control right" href="#homeSlider" data-slide="next" target="_self">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <div class="row page-section page-section-header">
                        <div><h3>Latest Movie Reviews</h3></div>
                        <div ng-repeat="review in model.newsReviews|limitTo:2" class="col-sm-6 col-xs-12 ">
                            <a class="review" href="#"></a>
                            <figure>
                                <img src="{{review.fields.thumbnail}}" alt="">
                                <figcaption>{{review.webTitle.substr(0,review.webTitle.indexOf('review'))}}
                                    <span>Review</span></span>
                                    <div class="star-ratings-css" style="display: inline-block">
                                        <div class="star-ratings-css-top" ng-style="{'width':{{review.fields.starRating}}*(100/5)}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                    <h5>{{review.webPublicationDate|date:'fullDate'}}</h5>
                                </figcaption>

                            </figure>

                        </div>
                        <div class="col-xs-12">
                            <h5><a>Watch the full list >></a></h5>
                        </div>
                    </div>
                    <div class="col-"></div>
                </div>




              <!--Side Bar Content-->
               <div class="col-md-3 hidden-xs hidden-sm" style="background: #e6e6e6">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="main-sidebar-section">
                                <h5 class="sidebar-header">Now Playing</h5>
                                <div class="rhs-body">

                                    <!--implement ng-repeat on below div-->
                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>Transformers: The last Knight</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Beguiled</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a ng-show="model.user.watchlist.indexOf(movieId)===1" class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                            <div ng-show="model.user.watchlist.indexOf(movieId)===-1" class="fa fa-check" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </div>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-check" style="font-size: 1.4em;color:green;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="main-sidebar-section">
                                <h5 class="sidebar-header">Now Playing</h5>
                                <div class="rhs-body">

                                    <!--implement ng-repeat on below div-->
                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>Transformers: The last Knight</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Beguiled</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a ng-show="model.user.watchlist.indexOf(movieId)===1" class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                            <div ng-show="model.user.watchlist.indexOf(movieId)===-1" class="fa fa-check" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </div>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-check" style="font-size: 1.4em;color:green;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="main-sidebar-section">
                                <h5 class="sidebar-header">Now Playing</h5>
                                <div class="rhs-body">

                                    <!--implement ng-repeat on below div-->
                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>Transformers: The last Knight</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Beguiled</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a ng-show="model.user.watchlist.indexOf(movieId)===1" class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                            <div ng-show="model.user.watchlist.indexOf(movieId)===-1" class="fa fa-check" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </div>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-check" style="font-size: 1.4em;color:green;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="main-sidebar-section">
                                <h5 class="sidebar-header">Now Playing</h5>
                                <div class="rhs-body">

                                    <!--implement ng-repeat on below div-->
                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>Transformers: The last Knight</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Beguiled</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a ng-show="model.user.watchlist.indexOf(movieId)===1" class="fa fa-plus" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </a>
                                            <div ng-show="model.user.watchlist.indexOf(movieId)===-1" class="fa fa-check" style="font-size: 1.4em;color:lightslategrey;padding-top: 3px"> </div>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>

                                    <div class="rhs-row">
                                        <div class="ribbonize" style="position: relative">
                                            <a class="fa fa-check" style="font-size: 1.4em;color:green;padding-top: 3px"> </a>
                                        </div>
                                        <div class="title">
                                            <a>The Big Sick</a>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- .row -->











            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="../../../dummy/thumb-3.jpg" alt="Movie 3"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="../../../dummy/thumb-4.jpg" alt="Movie 4"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="../../../dummy/thumb-5.jpg" alt="Movie 5"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a href="#"><img src="../../../dummy/thumb-6.jpg" alt="Movie 6"></a>
                    </div>
                </div>
            </div> <!-- .row -->




            <div class="row">
                <div class="col-md-4">
                    <h2 class="section-title">December premiere</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <ul class="movie-schedule">
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                    </ul> <!-- .movie-schedule -->
                </div>
                <div class="col-md-4">
                    <h2 class="section-title">November premiere</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <ul class="movie-schedule">
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                    </ul> <!-- .movie-schedule -->
                </div>


                <div class="col-md-4">
                    <h2 class="section-title">October premiere</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <ul class="movie-schedule">
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                        <li>
                            <div class="date">16/12</div>
                            <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                        </li>
                    </ul> <!-- .movie-schedule -->
                </div>


            </div>
        </div>
    </div>

</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>